#message {
    width: 100%;
    padding-top: 20px;
    padding: 8px 8px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    font-size: 110%;
}

#inputpicture {
	display: none;
}

#inputfoto {
	margin-left: 10%;
	width: 80%;
	margin-right: 10%;
	/* border: 1px solid #ccc; */
}

#foto {
	width: 90%;
	max-width: 500px;
	max-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

.iconbutton {
	padding: 12px 12px;
	border-radius: 4px;
}

#publishbutton {
    background-color: #4CAF50;
    color: white;
    padding: 8px 8px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 125%;
	position: relative;
	left: 0;
}

#cancelbutton {
    background-color: #e45905;
    color: white;
    padding: 8px 8px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 125%;
	float: right;
}
