.header {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	position: fixed;
	top: 0;
    right: 0;
	background-color: tomato;
	width: 100%;
	min-height: 150px;
}

.title {
	display: grid;
	grid-template-rows: 50% 50%;
	padding: 20px;
}

.title div {
	margin: auto;
	text-align: center;
}

#user {
	margin: auto;
	text-align: center;
}

#user:hover {
	cursor: pointer;
}

#logout {
	margin: auto;
	text-align: right;
}

#logout:hover {
	cursor: pointer;
}

#username {
	font-family: Arial;
	font-style: italic;
	font-size: 1em;
}

#publicar {
	font-family: Arial;
	font-style: italic;
	font-size: 1em;
}

#publicar:hover {
	cursor: pointer;
}

#megacontainer {
	padding-top: 100px;
	background-color: white;
	overflow-x: hidden;
    overflow-y: scroll;
}
.eventcontainer {
	background-color: white;
	padding-top: 5px;
	border: 1px solid black;
	border-radius: 5px;
}

.autorevent {
	margin: 5px;
	text-align: left;
	font-family: Arial;
	font-size: 100%;
}

.pictureevent {
	margin: auto;
	width: 80%;
	border: 1px, solid, black;
}

img {
    width: 100%;
    height: auto;
}

.customHr {
    width: 95%;
    color: rgba(0, 0, 0, 0);
    line-height: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
}