.header {
	position: fixed;
	top: 0;
    right: 0;
	background-color: tomato;
	height: 100px;
	width: 100%;
}

.title {
	font-family: Arial;
	font-style: italic;
	font-size: 2em;
	text-align: center;
}

#user {
	font-family: Arial;
	font-style: italic;
	font-size: 1em;
	text-align: left;
}

#megacontainer {
	padding-top: 100px;
	background-color: white;
	overflow-x: hidden;
    overflow-y: scroll;
}
.eventcontainer {
	background-color: white;
	padding-top: 5px;
	border: 1px solid black;
	border-radius: 5px;
}

.autorevent {
	margin: 5px;
	text-align: left;
	font-family: Arial;
	font-size: 100%;
}

.pictureevent {
	margin: auto;
	width: 80%;
	border: 1px, solid, black;
}

img {
    width: 100%;
    height: auto;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 125%;
}

input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 125%;
}

input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
	margin-left: 25%;
	margin-right: 25%;
    border: none;
    border-radius: 4px;
    cursor: not-allowed;
    font-family: Arial;
    font-size: 125%;
}

input[type=submit]:hover {
    background-color: #45a049;
}

label{
	font-family: Arial;
	font-size:125%;
}
    
.errorTxt{
  font-family: Arial;
  font-size: 110%;
  color: red;
  text-align: center;
  min-height: 20px;
}

.modallogin {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.logincontent {
	background-color: #f2f2f2;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
}

.modalevent {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.eventcontent {
	background-color: #f2f2f2;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
}

#eventform {
	margin:0;
	padding:0;
}

#message {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 125%;
    font-family: Helvetica;
    resize: none;
}

#inputpicture {
	display: none;
}
#inputfoto {
	min-width: 500px;
	min-height: 200px;
	/* border: 1px solid #ccc; */
}

.formbutton {
	padding: 12px 12px;
	border-radius: 4px;
}

.modalprofile {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.profilecontent {
	background-color: #f2f2f2;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
}

.customHr {
    width: 95%;
    color: rgba(0, 0, 0, 0);
    line-height: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
}