.header {
	background-color: tomato;
	height: 100px;
	width: 100%;
	padding-top: 10px;
}

.title {
	font-family: Arial;
	font-style: italic;
	font-size: 2em;
	text-align: center;
}

#user {
	font-family: Arial;
	font-style: italic;
	font-size: 1em;
	text-align: left;
}

#megacontainer {
	background-color: white;
	overflow-x: hidden;
    overflow-y: scroll;
}
.eventcontainer {
	background-color: white;
	padding-top: 5px;
	border: 1px solid black;
	border-radius: 5px;
}

.autorevent {
	margin: 5px;
	text-align: left;
	font-family: Arial;
	font-size: 50%;
}

.pictureevent {
	width: 80%;
	border: 1px, solid, black;
}

.textevent {
	width: 90%;
	border: 1px, solid, black;
	fort-family: Arial;
	font-size: 80%
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 125%;
}

input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 125%;
}

input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
	margin-left: 25%;
	margin-right: 25%;
    border: none;
    border-radius: 4px;
    cursor: not-allowed;
    font-family: Arial;
    font-size: 125%;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.login {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.logincontent {
	background-color: #f2f2f2;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
}

label{
	font-family: Arial;
	font-size:125%;
}

.errorTxt{
  font-family: Arial;
  font-size: 110%;
  color: red;
  text-align: center;
  min-height: 20px;
}